main{
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background-color: white;
}
section{
  width: 800px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
  padding: 0;
}
h1{
  color: #003662;
  font-size: 28px;
  float: left;
  margin-bottom: 40px;
  width: 100%;
}
.descripcion{
  font-size: 16px;
  color: #000000;
  float: left;

}
.rosa{
  display: inline;
  color: #E5137E;
  font-weight: bold;
}
.secciones{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
  margin: 30px 0;
  background-color: white;
}
.seccion{
  border: #CED4DA solid 1px ;
  margin: 5px;
  padding: 30px 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
}
.icono{
  width: 118px;
  height: 120px;
  border-radius: 60px;
  background-color: rgb(240,240,240);
  padding: 0;
  margin: 0;
}
.seccion-texto{
  color:#000000;
  font-size: 16px;
  text-align: center;
  width: 293px;
  

  
}
button{
  color: #003662;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 52px;
  background-color: white;
  border: #003662 solid 2px;
  border-radius: 5px;
}
a{
  color:#005CA2;
  text-decoration: underline;
}
.subtitulo{
  color: #858585;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  display: block;
}
.form-tipo1{
  margin: 0;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form-tipo1:nth-child(2){
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.formulario-proveedor-1:nth-child(1){
  margin-right: 40px ;
  
}
.formulario-proveedor-1{
    border: #D3D3D3 solid 1px;
  padding: 19px 15px;
  color: #D3D3D3;
  font-size: 16px;
}
.form-tipo2{
  margin: 0 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.formulario-proveedor{
  border: #D3D3D3 solid 1px;
  padding: 19px 15px;
  color: #D3D3D3;
  font-size: 16px;
}
.formulario-proveedor:nth-child(1){
  margin-right: 40px ;
}
.formulario-proveedor:nth-child(2){
  margin-right: 40px ;
}
.formulario-proveedor:nth-child(4){
  margin-right: 40px ;
}
.formulario-proveedor:nth-child(5){
  margin-right: 40px ;
}
.ok{
  padding: 0;
  margin: 0;
}